03-practices/day-01/session-02-ai-workflow-smart-ticket-triage/templates/checkpoints/checkpoint-step-2.json
{
  "name": "checkpoint-step-2",
  "nodes": [
    {
      "parameters": {},
      "id": "3e482a33-db56-4fe5-9019-d86d6e97981f",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CGDEsYlHjHie8BZCLNWwx4QP2nqU8hEd4wLGVUwEd-8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "input",
          "mode": "name"
        },
        "options": {}
      },
      "id": "e9753461-d1a1-4e2a-89ff-a831e437ae95",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        224,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c77c5899-0e6d-4ff6-b392-4982309c0498",
              "leftValue": "={{ $json.workflow_status }}",
              "rightValue": "New",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        432,
        0
      ],
      "id": "9c90b23c-34a8-45e6-8966-31573be22d53",
      "name": "Filter, workflow_status = New"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6115ee5-a0b8-4a37-8d36-7a281f817ef3",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "66f5b2b7-9f24-491d-82d6-dc2e0a17f07a",
              "name": "ticket_id",
              "value": "={{ $json.ticket_id }}",
              "type": "string"
            },
            {
              "id": "079a958f-19ed-4df7-93fe-5699d40c0a19",
              "name": "requester",
              "value": "={{ $json.requester }}",
              "type": "string"
            },
            {
              "id": "205bfa36-632c-4116-8dff-81d4ebf3a510",
              "name": "department",
              "value": "={{ $json.department }}",
              "type": "string"
            },
            {
              "id": "76cc155f-591f-40d2-a4d9-500f9525e06c",
              "name": "issue_description",
              "value": "={{ $json.issue_description }}",
              "type": "string"
            },
            {
              "id": "254cd27d-15f1-4d78-b17b-24935f8a777d",
              "name": "submitted_at",
              "value": "={{ $json.submitted_at }}",
              "type": "number"
            },
            {
              "id": "40fee477-31cc-44e1-a185-91df81e6d5ab",
              "name": "priority_hint",
              "value": "={{ $json.priority_hint }}",
              "type": "string"
            },
            {
              "id": "2569a22c-8bee-4d4d-a05f-2b2889a6ca4f",
              "name": "expected_category",
              "value": "={{ $json.expected_category }}",
              "type": "string"
            },
            {
              "id": "78f57356-4fa6-4cdc-9a20-147e42b0ce44",
              "name": "expected_route",
              "value": "={{ $json.expected_route }}",
              "type": "string"
            },
            {
              "id": "eb29017f-64d6-4136-9632-8c34315250fd",
              "name": "workflow_status",
              "value": "={{ $json.workflow_status }}",
              "type": "string"
            },
            {
              "id": "1c613414-9501-464c-a2ca-d8ff690d7c52",
              "name": "notes",
              "value": "={{ $json.notes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        0
      ],
      "id": "094b097f-cffe-4abf-ae28-5712abb5dd75",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter, workflow_status = New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter, workflow_status = New": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dface51b-ccd3-44ef-84bf-63c3ebd6a6c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65226d3875108f845d3681e367ff6618aa774c2f123805e72b2f698883d7ac86"
  },
  "id": "2Z1PBkgRVdl6v7uF",
  "tags": []
}